<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <title>Title</title>
</head>
<body style="background-color: deepskyblue">

<div style="text-align: center;margin-block: 50px">Product</div>
<div style="width: 400px;margin-top: 70px;margin-left: 200px" class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
    <input id="title" type="text" class="form-control" aria-label="Пример размера поля ввода"
           aria-describedby="inputGroup-sizing-lg">
</div>

<div style="width: 400px;margin-top: 40px;margin-left: 200px" class="input-group">
    <span class="input-group-text">Price</span>
    <input id="price" type="text" aria-label="Имя" class="form-control">
    <span class="input-group-text">Discount</span>
    <input id="discount" type="text" aria-label="Фамилия" class="form-control">
    <span class="input-group-text">Quantity</span>
    <input id="quantityInStock" type="text" aria-label="Фамилия" class="form-control">
</div>
<div style="margin-left: 200px;margin-top: 40px;width: 500px" class="input-group">
    <span class="input-group-text">Description</span>
    <textarea id="description" class="form-control" aria-label="С текстовым полем"></textarea>
</div>
<select id="select" style="margin-left: 200px;margin-top: 40px;width: 300px" class="form-select"
        aria-label="Пример выбора по умолчанию">
    <option selected>Откройте это меню выбора</option>
    <option value="1">Electronic</option>
    <option value="2">Cosmetic</option>
    <option value="3">Sport</option>
    <option value="4">Board Games</option>
    <option value="5">Men's Clothing</option>
    <option value="6">Women's Clothing</option>
    <option value="7">Household Items</option>
    <option value="8">Tourism</option>
    <option value="9">Proper Nutrition</option>
</select>

<div style="margin-top: 50px;text-align: center">
    <div id="parentId">
        <div id="characteristic">
            <div id="3">
                <label>
                    <input value="" type="text"
                           style="border: black 1px solid;font-size: 15px;border-radius: 5px;width:300px;height: 30px"/>
                </label>
                <a style="color:red;" onclick="return deleteField(this)" href="#">[—]</a>
                <label>
                    <input maxlength="10" value="" type="text"
                           style="border: black 1px solid;font-size: 15px;width:300px;border-radius: 5px;height: 30px"/>
                </label>
                <a style="color:green;" onclick="return addField()" href="#">[+]</a></div>
        </div>
    </div>
</div>
<div id="images">
    <input style="margin-left: 200px;margin-top: 50px;text-align: center" type="file"
           onchange="imagesClick(this,0)">
    <input style="margin-left: 200px;margin-top: 50px;text-align: center" type="file"
           onchange="imagesClick(this,1)">
    <input style="margin-left: 200px;margin-top: 50px;text-align: center" type="file"
           onchange="imagesClick(this,2)">
    <input style="margin-left: 200px;margin-top: 50px;text-align: center" type="file"
           onchange="imagesClick(this,3)">
    <input style="margin-left: 200px;margin-top: 50px;text-align: center" type="file"
           onchange="imagesClick(this,4)">

</div>
<button type="button" th:onclick="'submit();'" style="width: 100px; height: 50px; margin-left: 679px">Here</button>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script>

    let images = [5];

    function submit() {
        let title = getTitle();
        let description = getDescription();
        let price = getPrice();
        let discount = getDiscount();
        let characteristic = getCharacteristic();
        let quantityInStock = getQuantityInStock();
        let category = getCategory();
        let image = getImages();


        let product = {
            title: title,
            categoryId: category,
            quantityInStock: quantityInStock,
            description: description,
            price: price,
            discount: discount,
            images: image,
            characteristics: Object.fromEntries(characteristic),
        }
        alert("fast")
        $.ajax({
            url: "admin",
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(product),
            contentType: 'application/json',
            mimeType: 'application/json',

        }).done(function () {
            // window.location = "http://localhost:8083/admin"
        })
            .fail(function () {
                window.location = "http://localhost:8083/security/authorization"
            });
    }

    function getCategory() {
        return document.getElementById("select").value;
    }

    function getImages() {
        let image = "";
        for (let i = 0; i < images.length; i++) {
            image += (images[i] + " ");
        }
        return image;
    }


    function imagesClick(element, number) {
        let file = element.files[0];
        let reader = new FileReader();
        reader.onload = function () {
            images[number] = (reader.result.replace("data:", "")
                .replace(/^.+,/, "")).trim();
        }
        reader.readAsDataURL(file);
    }

    function getTitle() {
        return document.getElementById('title').value.trim();
    }

    function getDescription() {
        return document.getElementById('description').value.trim();
    }

    function getPrice() {
        return document.getElementById('price').value.trim();
    }

    function getDiscount() {
        return document.getElementById('discount').value.trim();
    }

    function getQuantityInStock() {
        return document.getElementById('quantityInStock').value.trim();
    }

    function getCharacteristic() {
        let map = new Map();
        let children = document.getElementById('characteristic').children;
        for (let i = 0; i < children.length; i++) {
            if (children[i].children[0].value.trim().length !== 0 && children[i].children[2].value.trim().length !== 0) {
                map.set(children[i].children[0].value.trim(), children[i].children[2].value.trim())
            }
        }
        return map;
    }

</script>

<script>
    let countOfFields = 1;
    let curFieldNameId = 1;
    let maxFieldLimit = 10;

    function deleteField(a) {
        if (countOfFields > 1) {
            let contDiv = a.parentNode;
            contDiv.parentNode.removeChild(contDiv);
            countOfFields--;
        }
        return false;
    }

    function addField() {
        if (countOfFields >= maxFieldLimit) {
            alert("Число полей достигло своего максимума = " + maxFieldLimit);
            return false;
        }
        countOfFields++;
        curFieldNameId++;
        let div = document.createElement("div");
        div.innerHTML = "<input type=\"text\"\n" +
            "                       style=\"border: black 1px solid;font-size: 15px;border-radius: 5px;width:300px;height: 30px\"/>\n" +
            "                <a style=\"color:red;\" onclick=\"return deleteField(this)\" href=\"#\">[—]</a>\n" +
            "                <input maxlength=\"10\" type=\"text\"\n" +
            "                       style=\"border: black 1px solid;font-size: 15px;width:300px;border-radius: 5px;height: 30px\"/>\n" +
            "                <a style=\"color:green;\" onclick=\"return addField()\" href=\"#\">[+]</a>"
        document.getElementById("characteristic").appendChild(div);
        return false;
    }
</script>
</body>
</html>