<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDoList</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>

<div style="z-index: -10" class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<div id="container_demo">
    <div id="wrapper">
        <div style="z-index: 10000;margin-top: 50px;margin-left: 500px;width: 500px;" id="register"
             class="animate form">
            <form th:object="${registrationRequestUser}" style="margin-top: -17px" method="post"
                  th:action="@{/security/registration_check}" autocomplete="off">
                <h1> Registration </h1>
                <p>
                    <label for="username" data-icon="u">Username</label>
                    <input th:field="*{name}" id="username" required="required" type="text"/>
                    <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </p>
                <p>
                    <label for="email" data-icon="e"> E-mail</label>
                    <input th:field="*{email}" id="email" required="required" type="email"/>
                    <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </p>
                <p>
                    <label for="password" data-icon="p">Password </label>
                    <input th:field="*{password}" id="password" required="required"/>
                    <span style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </p>
                <p>
                    <label for="password_confirm" data-icon="p">Confirm password </label>
                    <input th:field="*{confirmedPassword}" id="password_confirm"/>
                    <span style="color: red" th:if="${#fields.hasErrors('confirmedPassword')}"
                          th:errors="*{confirmedPassword}"></span>
                </p>
                <span style="color: red" th:text="${error}"></span>
                <p class="sign button">
                    <input type="submit" value="Get code"/>
                </p>
                <p class="change_link">
                    Already registered?
                    <a th:href="@{/security/authorization}" class="to_register"> Enter the site</a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>